<h2> Title: <%= @question.title %></h2>

<p><%= @question.description %></p>


<% @answers.each do |answer| %>
  <ul>
    <li><%= answer.description %></li>
  </ul>
<% end %>

<%= button_to "Post an Answer", {:controller => :answers,
      :action => 'new', :id => @question.id }, :method => :get %>
<br>

<%= button_to "Edit Question", {:controller => :questions,
      :action => 'edit', :id => @question.id }, :method => :get %>

<br>

<%= button_to "Delete Question", {:controller => :questions,
      :action => 'destroy', :id => @question.id }, :method => :delete %>
<br>
